<h1 class="HomeTitle">{{title}}</h1>
<h2 class="HomeContent">{{obj.firstName}} {{obj.lastName}}</h2>
<dl>
    <dt class="dTitle">ID</dt>
    <dd class="dDetail">{{obj.id}}</dd>
    <dt class="dTitle">First Name</dt>
    <dd class="dDetail">{{obj.firstName}}</dd>
    <dt class="dTitle">Last Name</dt>
    <dd class="dDetail">{{obj.lastName}}</dd>
    <dt class="dTitle">Address</dt>
    <dd class="dDetail">{{obj.address}}</dd>
    <dt class="dTitle">Zip Code</dt>
    <dd class="dDetail">{{obj.zip}}</dd>
    <dt class="dTitle">Phone</dt>
    <dd class="dDetail">{{obj.phone}}</dd>
    <dt class="dTitle">Social Security Number</dt>
    <dd class="dDetail">{{obj.ssn}}</dd>
</dl>

<a class="return" href="/">Back to Homepage</a>