<main>

  <br/> 

  <div class="w3-container medi-yellow">
    <h2>Welcome, {{name}}</h2>
  </div>
  
  <div class="w3-container">

    <br>
    <table class="" style="color: gray">
      <tr>
        <td style="width: 30%">ID:</td>
        <td>{{user._id}}</td>
      </tr>
      <tr>
        <td>Name:</td>
        <td>{{user.fname}} {{user.lname}}</td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td>Gender:</td>
        <td>{{user.gender}}</td>
      </tr>
      <tr>
        <td>DOB:</td>
        <td>{{user.dob}}</td>
      </tr>
    </table>
    <br>
  </div>

  <div>
    {{#ifEquals user.isDoctor false}}
    <button type="button" class="button1" onclick="newReservation()">New Appointment</button>
    {{/ifEquals}}
    <button type="button" class="button1" onclick="viewReservation()">View Appointments</button>
    <button type="button" class="button1" onclick="editProfile()">Edit Profile</button>
  </div>
</main>