<main>

  
  {{!-- <br/> --}}
  {{!-- <p>
      Hey, I have created this website with the intention to find people on the server. Do you want to help me do it? Just enter the first or last name that you want to search for in the search box, hit Go and watch the magic happen. Go on, give it a try.
  </p> --}}

{{!-- <br/>  --}}

<div class="w3-container medi-yellow">
            <h2>Booking ID: #{{reservation._id}}</h2>
            {{!-- <p class="extra"><a href="/login">(Already have an account? Login</a>)</p> --}}
          </div>
          <br/>
          <div class="w3-container" id="booking_info_table_cont">
            
            <table id="booking_info_table" class="info_table">
              {{!-- <tr>
                <th>Patient</th>
                <th>Info</th>
                
              </tr> --}}
              <tr>
                <td>Frist Name</td>
                <td>{{reservation.patient.fname}}</td>
                
              </tr>
              <tr>
                <td>Last Name</td>
                <td>{{reservation.patient.lname}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{reservation.patient.email}}</td>
              </tr>
              <tr>
                <td>Date</td>
                <td>{{reservation.date_formatted}}</td>
              </tr>
              <tr>
                <td>Doctor</td>
                <td>Dr. {{reservation.doctor.lname}}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{reservation.status}}</td>
              </tr>
              <tr>
                <td>Cost</td>
                <td>0</td>
              </tr>
              {{!-- <tr>
                <td>Medicines</td>
                <td>
                  <select multiple class="w3-input select-50" name="medicines" id="medicines" price="0">
                    {{#each medicineList}}
                    <option value="{{this._id}}" price="{{this.price}}" {{#if this.selected}} selected {{/if}}>{{this.name}}</option>
                    {{/each}}
                  </select>
                </td>
              </tr>
              <tr>
                <td>Room</td>
                <td>
                  <select class="w3-input select-50" name="room" id="room" price="0">
                    <option value="" price="0"></option>
                    {{#each roomList}}
                    <option value="{{this._id}}" price="{{this.price}}" {{#if this.selected}} selected {{/if}}>{{this.name}}</option>
                    {{/each}}
                  </select>
                </td>
              
              <tr>
                <td>Cost</td>
                <td id="total_cost" price="0"></td>
              </tr> --}}
              
            </table>
            {{#if user.isDoctor}}
            <p class="doc_actions_cont">
              <button class="button1" onclick="createPrescription('{{reservation._id}}'); return false;">Prescribe</button>
              <button class="button1" onclick="alert('this will take doc to allot room page');return false">Allot room</button>
            </p>
            {{else}}
            <p class="edit_buttons_cont">
              <button class="button1" onclick="showElement('#edit_reservation_form_cont');hideElement('#booking_info_table_cont'); return false;">Edit</button>
              <button class="button1" onclick="alert('this will deleted the reservation'); return false;">Delete</button>
              <button class="button1" onclick="alert('this will redirect to payment');return false;">Pay</button>
            </p>
            {{/if}}
          </div>






          <div class="form-container" id="edit_reservation_form_cont" style="display: none">
          <form class="w3-container" method="post" action="#" action1="/reservation/edit" id="edit_reservation_form">
            <input type="hidden" name="patient_id" value="{{reservation.patientid}}">
            <p>
            <label>First Name</label>
            <input class="w3-input" type="text" name="fname" value="{{reservation.patient.fname}}"></p>
            <p>
            <label>Last Name</label>
            <input class="w3-input" type="text" name="lname" value="{{reservation.patient.lname}}"></p>
            <p>
            <label>Email</label>
            <input class="w3-input" type="text" name="email" value="{{reservation.patient.email}}"></p>
            <p>
            <label>Doctor</label>
            <select class="w3-input" name="doctor_id">
              <option></option>
              {{#each doctorList}}
              <option value="{{this._id}}" {{#if this.selected}} selected {{/if}}>{{this.name}}</option>
              {{/each}}
            </select></p>
            <p>
            <label>Date</label>
            <input class="w3-input" type="date" name="app_date" value="{{reservation.date_formatted}}"></p>
            
            <br/>
            {{#unless user.isDoctor}}
            <button class="button1" onclick="alert('this will save updated reservation data');return false;">Save</button>
            <button class="button1" onclick="hideElement('#edit_reservation_form_cont');showElement('#booking_info_table_cont'); return false;">Cancel</button>
            {{/unless}}

            
          </form>
          </div>
  {{!-- <form id="search_form" action="/search">
      <label for="person_name">Person Name</label>
      <br/>
      <input name="personName" id="person_name" type="text" placeholder="Enter text to search"/>
      <br/>
      <button type="submit" class="button1">Go!</button>
  </form> --}}

</main>